@charset "UTF-8";
h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

label {
  display: block;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}
.cards-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  flex-basis: calc((100% - 168px) / 4);
}
.cards-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #DC56C5;
  text-align: center;
}
.cards-deco {
  position: absolute;
  top: 0;
  right: 0;
  width: 199px;
  height: 186px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-width: 1px;
  border: 1px solid rgba(220, 86, 197, 0.3019607843);
}
.cards-date {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFF;
}
.cards-place {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFF;
}
.cards-place::before {
  content: url("../../images/place.png");
  margin-right: 3px;
}
.cards-image {
  padding-top: 13px;
  object-fit: cover;
  width: 228px;
  height: 295px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.container {
  width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 767px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 1200px;
  }
}

.header {
  background-image: url("../images/bg_header_mob.jpg");
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url("../images/bg_header_tab.jpg");
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-image: url("../images/bg_header_desk.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.header__title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  color: #dc56c5;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 30px;
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    font-size: 50px;
    margin-bottom: 32px;
  }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__inputs {
  display: block;
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .header__inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
  }
}

.header__input {
  width: 270px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px 20px 20px 20px;
  border: none;
  padding-left: 30px;
}
.header__input:focus {
  border: white solid 1px;
  outline: none;
}

.header__input:first-child {
  margin-bottom: 15px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__input:first-child {
    margin-bottom: 0;
  }
}

.header__input::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #939393;
}

.header__btn {
  position: absolute;
  top: 180px;
  right: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#selected-option {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  padding-top: 10px;
}

.dropdown summary {
  list-style: none;
}

.dropdown summary::-webkit-details-marker {
  display: none;
}

.custom-arrow {
  margin-left: 68px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.dropdown[open] .custom-arrow {
  transform: rotate(180deg);
}

.dropdown summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.options {
  background-color: transparent;
  border: white solid 1px;
  margin-top: 22px;
  margin-left: 25px;
  padding-left: 35px;
  padding-right: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: "Montserrat";
  z-index: 2;
  min-width: 50px;
  max-height: 95px;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .options {
    max-width: 170px;
  }
}

.options::-webkit-scrollbar {
  width: 8px;
}

.options::-webkit-scrollbar-track {
  background: transparent; /* прозорий фон */
}

.options::-webkit-scrollbar-thumb {
  background-color: #ccc; /* сам повзунок – світло-сірий */
  border-radius: 4px;
}

.main {
  background-color: #0e0e0e;
}/*# sourceMappingURL=main.css.map */