.cards {
  display: flex;
  flex-wrap: wrap; 
  gap: 56px;

  &-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    @include gridSystem(168px, 4);
  }

  &-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #DC56C5;
    text-align: center;
  }

  &-deco {
    position: absolute;
    top: 0;
    right: 0;
    width: 199px;
    height: 186px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-width: 1px;
    border: 1px solid #DC56C54D
  }

  &-date {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFF;
  }
  
  &-place {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFF;

    &::before {
      content: url("../../images/place.png");
      margin-right: 3px;
    }
  }

  &-image {
    padding-top: 13px;
    object-fit: cover;
    width: 228px;
    height: 295px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}
