.cards {
  display: flex;
  position: relative;
  flex-wrap: wrap; 
  min-height: 500px;
  gap: 20px;
  
  @media screen and (min-width: 768px) {
    gap: 20px;
  }

  @media screen and (min-width: 1200px) {
    gap: 56px;
  }


  &.hidden {
    visibility: hidden;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    @include gridSystem(20px, 2);

    @media screen and (min-width: 768px) {
      @include gridSystem(40px, 3);
    }

    @media screen and (min-width: 1200px) {
      @include gridSystem(168px, 4);
    }

  }

  &-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #DC56C5;
    text-align: center;
  }

  &-deco {
    position: absolute;
    top: 0;
    right: -10px;
    width: 108px;
    height: 186px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-width: 1px;
    border: 1px solid #DC56C54D;

    @media screen and (min-width: 768px) {
      width: 199px;
    }

    @media screen and (min-width: 1200px) {   
      right: 0;
    }
  }

  &-date {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFF;
  }
  
  &-place {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFF;

    &::before {
      content: url("../../images/place.png");
      margin-right: 3px;
    }
  }

  &-image {
    padding-top: 13px;
    object-fit: cover;
    width: 228px;
    height: 295px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.error {
  // height: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #DC56C5;
  text-align: center;
}
